/* Center the logo above the navbar */
.logo-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style the logo image */
.site-logo {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
}

/* Navbar Styles */
.navbar {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: white !important; /* Ensure consistent background color */
    justify-content: center;
}

/* Navbar Items */
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

/* Line above each nav-link */
.nav-item-line {
    position: relative;
    color: #333;
    text-decoration: none;
    font-size: 15px; /* Set font size to 15px */
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 0.5rem 0;
    white-space: nowrap; /* Prevent wrapping to the next line */
    line-height: 1; /* Adjust spacing for single-line alignment */
}

.nav-item-line::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s ease;
}

.nav-item-line:hover::before {
    transform: scaleX(1) translateY(5px);
}

.nav-link {
    color: #333 !important;
    text-align: center;
    font-size: 17px !important; /* Set font size to 15px */
    white-space: nowrap; /* Prevent text wrapping */
}

.nav-link:hover {
    color: #248cab !important;
    font-weight: bold;
}

/* Login & Register Buttons */
.navbar .btn-outline-success {
    border: 2px solid #248cab;
    color: #248cab !important;
    font-size: 15px; /* Set font size to 15px */
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px; /* Adjust button padding */
    margin-left: 5px;
    white-space: nowrap; /* Prevent text wrapping */
    transition: all 0.3s ease;
}

.navbar .btn-outline-success:hover {
    background-color: #248cab;
    color: white !important;
}

/* Logout Button */
.navbar .btn-outline-danger {
    border: 2px solid #dc3545;
    color: #dc3545 !important;
    font-size: 15px; /* Set font size to 15px */
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px; /* Adjust button padding */
    margin-left: 5px;
    white-space: nowrap; /* Prevent text wrapping */
    transition: all 0.3s ease;
}

.navbar .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white !important;
}